requests
beautifulsoup4
selenium
langchain
langchain-groq
langchain-community
langchain-text-splitters
python-dotenv
streamlit
tiktoken
langchain-pinecone
pinecone-client
langchain-huggingface
plotly
fastapi
uvicorn
python-multipart
pydantic